@font-face {
    font-family: Saiyan-Sans-Prime;
    font-style: normal;
    font-weight: 150;
    src: url(Saiyan-Sans.ttf) ;
   }

   body{
    background-color: #F0833A;
}

h1{
    color: #074B9C;
    font-family: Saiyan-Sans-Prime;
    font-weight: 200;
    position: absolute;
    right: 19%;
    margin-top: 200px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p{
    font-family: Saiyan-Sans-Prime;
    color: #074B9C;
    text-align: center;
    margin-top: 10px;
    margin-left: 900px;
    margin-bottom: 10px;
    position: relative;
    top: 215px;
}


