@font-face {
  font-family: Saiyan-Sans-Prime;
  font-style: normal;
  font-weight: 150;
  src: url(Saiyan-Sans.ttf)
}
body {
  background-image: url(Images/Images_SignUp_Page_Background_Version2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  font-family: Saiyan-Sans-Prime;
  font-size: x-large;
  color: #00f;
  text-align: center;
  margin-top: 10px;
  margin-left: 900px;
  margin-bottom: 10px;
  position: relative;
  top: 215px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow
}
input[type=text] {
  border: 2px solid red;
  border-style: outset;
  border-radius: 15px
}
input[type=submit i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  font-family: Saiyan-Sans-Prime;
  font-size: 25px;
  background-color: #074b9c;
  color: #f0833a;
  position: relative;
  top: 215px;
  left: 1200px;
  border-radius: 50px
}
input,
select,
textarea {
  font-size: 100%;
  font-family: Saiyan-Sans-Prime;
  color: #00f
}
.sidenav {
  display: inline-block;
  align-items: center;
  height: 330px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10;
  right: 10;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
  background-image: url(Images/SidePanelVersion2.jpg)
}
.sidenav a {
  font-family: Saiyan-Sans-Prime;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0833a;
  display: block;
  transition: .3s;
  color: #074b9c;
  font-family: Saiyan-Sans-Prime;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px
}
.myDiv {
  border: 5px outset red;
  background-color: #add8e6;
  text-align: center
}
.button {
  font-family: Saiyan-Sans-Prime
}
.button {
  background-color: #074b9c;
  color: #f0833a;
  font-family: Saiyan-Sans-Prime;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px
}