@font-face {
    font-family: Saiyan-Sans-Prime;
    font-style: normal;
    font-weight: 150;
    src: url(Saiyan-Sans.ttf) ;
   }

#header{
    background-color: rgb(76, 76, 216);
    font-family: Saiyan-Sans-Prime;
    height:fit-content;
    padding: 50px 50px;
    border-radius: 30px;
    background-image: url(HTCbanner\ Version1-Max-Quality.jpg);
}
#Button{
    padding: 30px;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 30px;
    opacity: 0.9;
}
body{
    background-color: rgb(132, 197, 219);
}
h1{
    color: rgb(255, 187, 0);
    font-family: Saiyan-Sans-Prime;
    font-weight: 150;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
h2{
    color: rgb(166, 5, 5);
    font-family: monospace;
    position: center;
}
h2.signup{
    color: #000;
    font-family: monospace;
    position: relative;
}
p{
    font-family: Saiyan-Sans-Prime;
    color: rgb(255, 187, 0);
    text-align: center;
}
a{
    text-decoration: none;
    border: 0.2px solid #000;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 1px;

}
#b{
    text-align: center;
}
alerts{
    display: block;
}
alerts .green-alert{
    border: 1px #000;
    background-color: rgb(55, 230, 11);
    padding: 1rem;
    display: flex;
    align-items: center;
}
label{
    color: #000;
}

body {
    background-image: url("HTCbackgroundVersion2-Max-Quality.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
   /* The side navigation menu */
.sidenav {
    height: 330px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-image: url(paper.jfif);
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
    transition: 0.3s;
    background-color: transparent;
    border: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  span{
    padding: 30px;
    display: block;
    color: rgb(255, 187, 0);
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
div.holder{text-align: center;}

