#header{
    background-color: rgb(76, 76, 216);
    height: auto;
    padding: 50px 50px;
}
#Button{
    padding: 30px;
    display: block;
    background-color: rgb(76, 76, 216);
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
body{
    background-color: whitesmoke;
}
h1{
    color: rgb(211, 202, 202);
    font-family: monospace;
    text-align: center;

}
p{
    color: antiquewhite;
}
a{
    text-decoration: none;
    border: 0.2px solid #000;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 1px;

}