#header{
    background-color: rgb(76, 76, 216);
    font-family: Saiyan-Sans-Prime;
    height: auto;
    padding: 50px 50px;
}
#Button{
    padding: 30px;
    display: block;
    background-color: rgb(76, 76, 216);
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
body{
    background-color: rgb(132, 197, 219);
}
h1{
    color: rgb(211, 202, 202);
    font-family: monospace;
    text-align: center;
}
h2{
    color: rgb(166, 5, 5);
    font-family: monospace;
    position: center;
}
h2.signup{
    color: #000;
    font-family: monospace;
    position: relative;
}
p{
    font-family: monospace;
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    border: 0.2px solid #000;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 1px;

}
#b{
    text-align: center;
}
alerts{
    display: block;
}
alerts .green-alert{
    border: 1px #000;
    background-color: rgb(55, 230, 11);
    padding: 1rem;
    display: flex;
    align-items: center;
}
label{
    color: #000;
}